In [104]:
#IMPORTING THE DEPENDENCIES OR LIBRARIES

In [105]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn import svm

In [106]:
#DATA COLLECTION AND ANALYSIS

In [107]:
#loading the Dataset

db = pd.read_csv(r"C:\Users\Accounts01\Desktop\Data set for projects\diabetes2.csv")

In [108]:
#Printing the first five rows of the dataset
db.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [109]:
#Number of rows and columns
db.shape

(768, 9)

In [110]:
#statistical information
db.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [111]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [112]:
db['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [113]:
# 0 --- Non Diabetic
#  1 --- Diabetic

In [114]:
db.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [115]:
#SEPERATING THE DATA AND LABELS

In [116]:
x = db.drop(columns = 'Outcome', axis = 1)
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [117]:
y = db['Outcome']
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [118]:
#STANDARDIZING THE DATA

In [119]:
scaler = StandardScaler()

In [120]:
scaler.fit(x)

StandardScaler()

In [121]:
std_db = scaler.transform(x)

In [122]:
x = std_db
y = db["Outcome"]

In [123]:
print(x)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [124]:
#TRAIN TEST

In [125]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, stratify = y, random_state = 2)

In [126]:
x.shape, x_train.shape, x_test.shape

((768, 8), (614, 8), (154, 8))

In [127]:
#Training the model

model = svm.SVC(kernel='linear')

In [128]:
#training the support vector machine model
model.fit(x_train, y_train)

SVC(kernel='linear')

In [129]:
#MODEL EVALAUATION

In [130]:
#accuracy score on training data

x_train_predict = model.predict(x_train)
x_train_accuracy = accuracy_score(x_train_predict, y_train)
print("Accuracy score of training data: ", x_train_accuracy)

Accuracy score of training data:  0.7866449511400652

In [131]:
#accuracy score on test data

x_test_predict = model.predict(x_test)
x_test_accuracy = accuracy_score(x_test_predict, y_test)
print("Accuracy score of training data: ", x_test_accuracy)

Accuracy score of training data:  0.7727272727272727

In [132]:
#MAKING A PREDICTIVE SYSTEM

In [153]:
input_data = (1,89,66,23,94,28.1,0.167,21)

In [154]:
#change input data to numpy

input_data_numpy = np.asarray(input_data)

In [155]:
#Reshape the array as we are predicting for 1 instance

input_data_reshaped = input_data_numpy.reshape(1, -1)

In [156]:
#Standardizing the input data

std_data = scaler.transform(input_data_reshaped)
print(std_data)

[[-0.84488505 -0.99820778 -0.16054575  0.15453319  0.12330164 -0.49404308
  -0.92076261 -1.04154944]]

In [157]:
prediction = model.predict(std_data)
print(prediction)

if (prediction[0] == 0):
    print("The person is not Diabetic")
else:
    print("The Person is Diabetic")

[0]
The person is not Diabetic